<template>
  <button v-on:click="handleClick">Click</button>

</template>

<script>
export default {
  name: 'Click',
  methods: {
    handleClick: function (event) {
      alert(event.target)
    }
  }
}
</script>

<style scoped>

</style>
