<template>
  <div>
    <p>{{ message }}</p>
    <input v-model.number="message">
  </div>
</template>

<script>
export default {
  name: 'Form',
  data: function () {
    return {
      message: '初期メッセージ'
    }
  }
}
</script>

<style scoped>

</style>
