<template>
  <p v-if="show">Hello Vue.js!</p>
</template>

<script>
export default {
  name: 'IfElse',
  data: function () {
    return {
      show: true
    }
  }
}
</script>

<style scoped>

</style>
