<template>
  <ol>
    <li v-for="item in list" v-bind:key="item">
      {{ item }}
    </li>
  </ol>
</template>

<script>
export default {
  name: 'List',
  data: function () {
    return {
      list: ['ばなな', 'りんご', 'みかん']
    }
  }
}
</script>

<style scoped>

</style>
