<template>
  <div>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  name: 'Message',
  data: function () {
    return {
      message: 'Hello Vue.js',
      list: ['りんご', 'ばなな', 'いちご']
    }
  }
}
</script>

<style scoped>

</style>
