<template>
  <div>
    <button v-on:click="show=!show">切り替え</button>
    <!--transition>
      <p v-if="show">Hello Vue.js!</p>
    </transition-->
  </div>
</template>

<script>
export default {
  name: 'Transition',
  data: function () {
    return {
      show: true
    }
  }
}
</script>

<style scoped>
  .v-enter-active, .v-leave-active {
    transiton: opacity 1s;
  }

  .v-enter, .v-leave-to {
    opacity: 0;
  }
</style>
