<template>
  <div>
    <p v-bind:class="classObject">Text</p>
    <p v-bind:style="styleObject">Text</p>
  </div>
</template>

<script>
export default {
  name: 'ClassStyleBind',
  data: function () {
    return {
      classObject: {
        isChild: true,
        isActive: true
      },
      styleObject: {
        color: 'red',
        backgroundColor: 'lightgray'
      }
    }
  }
}
</script>

<style scoped>

</style>
