<template>
  <div>
    <p>{{ count }}</p>
    <button v-on:click="increment">カウンタを増やす</button>
  </div>
</template>

<script>
export default {
  name: 'Increment',
  data: function () {
    return {
      count: 0
    }
  },
  methods: {
    increment: function () {
      this.count += 1
    }
  }
}
</script>

<style scoped>

</style>
