<template>
  <div>
    <p>{{ message.value }}</p>
    <p>{{ message.value.length }}</p>
    <p>{{ list[2] }}</p>
    <p>{{ list[num ]}}</p>
  </div>
</template>

<script>
export default {
  name: 'NestData',
  data: function () {
    return {
      message: {
        value: 'Hello Vue.js!'
      },
      list: ['フランス', 'アメリカ', 'カナダ'],
      num: 1
    }
  }
}
</script>

<style scoped>

</style>
